extends ../template

block variables
    - var title = 'Обо мне'

block content
    .wrapper
        .maincontent
            section.section.hero
                .socials
                    include ../common/_socials
                .hamburger
                    a.hamburger__link.hero__menu(href="#")
                        .hamburger__bars
                .hero__fon
                    svg.hero__icon
                        use(xlink:href="assets/images/icons/sprite.svg#portfolio_header")
                .user.hero-user
                     include ../common/_user
                .arrow-down.hero__scroll-btn
                    a.arrow__link(href="#")
                        svg.arrow__icon
                            use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
                .traingle
                    svg.traingle-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                        polygon.traingle-svg__left(points='0,0   0,86   500.8,86   500.8,75.5')
                        polygon.traingle-svg__right(points='1000,0   1000,86   500,86   500,75.5')

            section.section.about
                .about__left
                    .about__left-title
                        .about__wrap-title
                            .block__title.block__title_about Обо мне
                            .fon__about__left
                                svg.fon__svg
                                    use(xlink:href="assets/images/icons/sprite.svg#about_header")
                    .about__left__content
                        .about__left__wrap
                            .cont__foto
                                img.visuallyhidden(href="./images/about/avatar.jpg" alt='foto')
                            .cont__title
                                .block__sub-title.cont_sub-poz Кто я
                            .cont_text.text-content
                                p Я начинающий вебразработчик Калининграда. Мне 47 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как все классно и красиво! 
                .about__right
                    .about__right-wrap
                        .block__sub-title.title__right чем я могу быть 
                        .title__two вам полезен
                        .text-content.text-content_about-right
                            p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        //- .texnologe Frontend
                        .about__right-content
                            ul.skills-list
                                each item in ['Frontend', 'Backend', 'Workflow']
                                    li.skills-list__item
                                        .skills-row
                                            case item
                                                when 'Frontend'
                                                    .skills-row__title #{item}
                                                    ul.skills-row__list
                                                        each skill in ['Html5', 'css3', 'JavaScript & jQuery']
                                                            li.skills-row__item
                                                                .skill
                                                                    svg.circles(viewbox='0 0 110 110')
                                                                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                                        circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                                    .skill__title #{skill}
                                                when 'Backend'
                                                    .skills-row__title #{item}        
                                                    ul.skills-row__list
                                                        each skill in ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
                                                            li.skills-row__item
                                                                .skill
                                                                    svg.circles(viewbox='0 0 110 110')
                                                                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                                        circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                                    .skill__title #{skill}
                                                when 'Workflow'        
                                                    .skills-row__title #{item}        
                                                    ul.skills-row__list
                                                        each skill in ['Git', 'Gulp', 'Bover']
                                                            li.skills-row__item
                                                                .skill
                                                                    svg.circles(viewbox='0 0 110 110')
                                                                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                                        circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                                    .skill__title #{skill}
                
            section.section.map
                .google-map
                .map__contacts
                    .contacts
                        .contacts__title
                            .block__sub-title контакты
                        ul.contacts__list
                            li.contacts__item
                                a.contacts__link(href="skype:nikulin_alexander?call")
                                    svg.contact-icon
                                        use(xlink:href="assets/images/icons/sprite.svg#skype")
                                    span.contacts__text nikulin_alexander
                            li.contacts__item
                                a.contacts__link(href="mailto:aleks_nikulin@mail.ru")
                                    svg.contact-icon
                                        use(xlink:href="assets/images/icons/sprite.svg#envelope")
                                    span.contacts__text aleks_nikulin@mail.ru
                            li.contacts__item
                                a.contacts__link(href="skype:+79114766161?call")
                                    svg.contact-icon
                                        use(xlink:href="assets/images/icons/sprite.svg#phone")
                                    span.contacts__text +7 911 476 61 61
                            li.contacts__item
                                a.contacts__link
                                    svg.contact-icon
                                        use(xlink:href="assets/images/icons/sprite.svg#map_marker")
                                    span.contacts__text г.Калининград, ул. Пупкина, д. 100

                    include ../common/_footer

        .fullscreenmenu
            #fullscreenmenu.fullscreenmenu-container
                .fullscreen-header
                    a.fullscreen__btn(href='#')
                        img.fullscreen__img(src='assets/images/menu_close.png', alt='Close button')    
                .fullscreen__wrap
                    ul.fullscreen__list
                        li.fullscreen__item
                            a.fullscreen__link(href="/my-works.html")
                                .block__sub-title.block__sub-title_fullscreen Мои работы
                        li.fullscreen__item
                            a.fullscreen__link(href="/about.html")
                                .block__sub-title.block__sub-title_fullscreen Обо мне
                        li.fullscreen__item
                            a.fullscreen__link(href="/blog.html")
                                .block__sub-title.block__sub-title_fullscreen Блог
                        li.fullscreen__item
                            a.fullscreen__link(href="/index.html")
                                .block__sub-title.block__sub-title_fullscreen Авторизация

            




    